@font-face {
	font-family: eng-num;
	src: url('../assets/ttf/GILROY-BOLD.WOFF.TTF');
}
html {
	font-family: eng-num;
}
.fs {
	width: 100vw;
	min-height: 100vh;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.page {
	overflow: hidden;
	position: relative;
	display: flex;
}
.con {
	flex: 1;
}
/* 首屏 */
.header {
	overflow: hidden;
	background-image: url('/assets/images/head-background@2x.png');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
.header-inner {
	height: 60vh;
	margin-top: 20vh;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	text-align: center;
}
.header-logo {
	text-align: center;
}
.header-logo-img {
	width: 50%;
}
.header-title {
	font-weight: bold;
	font-size: 50px;
}
.header-description {
	font-size: 30px;
}
.header-right {
	position: relative;
}
.header-download {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 50%;
}
.download-outside {
	width: 192px;
	height: 65px;
	display: block;
	background: #000;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
	line-height: 65px;
	position: relative;
	flex-shrink: 0;
}
.download-outside .hand {
	position: absolute;
	top: 40px;
	left: 130px;
	width: 30%;
}
.download-icon {
	font-size: 38px;
	vertical-align: middle;
	margin-right: 10px;
}
.download-text {
	font-size: 16px;
}
/* 首屏结束 */
/* 介绍部分 */
.introduce {
	overflow: hidden;
	background-image: url('/assets/images/introduce-bg@2x.png');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.introduce-text {
	width: 55%;
	box-sizing: border-box;
	padding-left: 15%;
}
.text-title {
	font-size: 50px;
	color: #000;
	line-height: 66px;
}
.text-description {
	font-size: 30px;
	color: #999;
	line-height: 40px;
}
.introduce-qr-code {
	margin-top: 56px;
}
.introduce-qr-code img {
	width: 143px;
}
.qr-code-desc {
	width: 60%;
	font-size: 18px;
	line-height: 25px;
}
.introduce-hand {
	animation: move-hand ease-in-out alternate 5s infinite;
	width: 50%;
	position: absolute;
	bottom: -20px;
	right: -10px;
	z-index: 5;
}
@keyframes move-hand {
	form {
		transform: translate(0,0);
	}
	to {
		transform: translate(-10px,-20px);
	}
}
/* 介绍部分结束 */
/* 分类介绍 */
.classify-desc {
	background: #2AE8B5;
	overflow: hidden;
}
.classify-title {
	text-align: center;
	font-size: 50px;
	margin: 40px 0 40px;
}
.classify-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
.classify-item {
	background: #fff;
	width: 260px;
	height: 550px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 0 20px 0 14px;
	box-sizing: border-box;
	position: relative;
}
.desc-title {
	font-size: 36px;
	margin: 15px 0;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
}
.classify-item li {
	display: flex;
	justify-content: left;
	margin-bottom: 20px;
}
.classify-item li .dot {
	width: 10px;
	height: 10px;
	flex-shrink: 0;
	border-radius: 10px;
	background: #2AE8B5;
	margin: 8px 5px 0 0;
}
.classify-item li p {
	font-size: 18px;
	line-height: 25px;
	z-index: 1;
	font-weight: 600;
}
.desc-icon {
	position: absolute;
	bottom: 0;
	right: 2px;
	width: 50%;
	z-index: 0;
}
/* 分类介绍结束 */
/* 功能介绍 */
.usage {
	width: 100vw;
	margin-top: 70px;
}
.usage-wrap {
	width: 68%;
	margin: 0 auto;
}
.usage-title {
	font-size: 50px;
	line-height: 66px;
}
.usage-title-decorate {
	display: inline-block;
	text-align: center;
	width: 120px;
	background: #2363FF;
	color: #fff;
	border-top-left-radius: 46px;
	border-end-end-radius: 46px;
}
/* 图片 */
.usage-content {
	display: grid;
	grid-template-columns: 58% 42%;
	grid-template-rows: 450px 550px 200px;
	gap: 20px 30px;
	margin-top: 10px;
}
.usage-con-p1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.coins-img {
	/* width: 60%; */
	width: 400px;
	margin-right: 20px;
}
.phone-img {
	/* height: 300px; */
	width: 26%;
	margin-top: 60px;
}
.usage-con-p2 {
	grid-row-start: span 2;
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: center;
	/* flex-wrap: wrap; */
	/* justify-content: space-between; */
}
.line-up-img {
	/* height: 100px; */
	/* width: 368px; */
	width: 76%;
	margin-bottom: 50px;
}
.user-info-img {
	/* height: 790px; */
	/* width: 382px; */
	width: 80%;
}
.usage-con-p3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.bd-img {
	height: 260px;
}
.detail-img {
	height: 260px;
}
.agent-img {
	/* height: 220px; */
	width: 600px;
	/* width: 90%; */
}
.usage-con-p4 {
	grid-column-start: span 2;
}
.comment-img {
	/* height: 180px; */
	width: 770px;
	/* width: 80%; */
}
.con-shadow {
	box-shadow: 0 0 30px #ddd;
}
.usage-center-bar {
	/* width: 1040px; */
	width: 100%;
	height: 76px;
	position: relative;
}
.usage-center-content {
	/* width: 1040px; */
	width: 100%;
	height: 76px;
	margin-top: 30px;
	background: linear-gradient(90deg, #0FCA5D 0%, #2AE8B5 34%, #2EEE7F 73%, #0EC95C 100%);
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}
.usage-icon {
	line-height: 76px;
	font-size: 24px;
	color: #fff;
}
.center-bar-shadow {
	width: 86%;
	height: 20px;
	position: absolute;
	bottom: -10px;
	left: 7%;
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.6;
	filter: blur(13px);
	z-index: -1;
}
/* 功能总结 */
.usage-summary {
	background: linear-gradient(180deg, #FFFFFF 0%, #97EEBB 100%);
	text-align: center;
	margin-top: 90px;
	padding-top: 70px;
	padding-bottom: 175px;
	position: relative;
}
.usage-summary-title {
	font-size: 50px;
	margin-bottom: 30px;
}
.usage-summary-subtitle {
	font-size: 30px;
	line-height: 40px;
	font-weight: 600;
}
.usage-summary-features {
	width: 80%;
	margin: 58px auto 0;
	display: flex;
	justify-content: space-between;
}
.features-item {
	width: 260px;
	height: 240px;
	background: #fff;
	border-radius: 10px;
	position: relative;
}
.features-item:last-of-type::after {
	content: '';
	width: 144px;
	height: 128px;
	background: url('/assets/images/heart@2x.png') no-repeat;
	background-size: contain;
	position: absolute;
	top: -128px;
	left: 72px;
}
.features-item-icon {
	width: 84px;
	height: 92px;
	margin: 20px auto 20px;
}
.feature-icon-inner {
	color: #fff;
	line-height: 86px;
	font-size: 32px;
}
.features-item:nth-child(1) .features-item-icon {
	background: url('/assets/images/green@2x.png') no-repeat;
	background-size: contain;
}
.features-item:nth-child(2) .features-item-icon {
	background: url('/assets/images/purple@2x.png') no-repeat;
	background-size: contain;
}
.features-item:nth-child(3) .features-item-icon {
	background: url('/assets/images/red@2x.png') no-repeat;
	background-size: contain;
}
.features-item:nth-child(4) .features-item-icon {
	background: url('/assets/images/blue@2x.png') no-repeat;
	background-size: contain;
}
.features-item-number {
	font-size: 36px;
}
.features-item:nth-child(1) .features-item-number {
	color: #2AE8B5;
}
.features-item:nth-child(2) .features-item-number {
	color: #5E2DEE;
}
.features-item:nth-child(3) .features-item-number {
	color: #FF4538;
}
.features-item:nth-child(4) .features-item-number {
	color: #55CEFB;
}
.features-item-desc {
	margin-top: 14px;
	font-size: 20px;
	font-weight: 600;
}
.usage-summary::after {
	content: '';
	width: 325px;
	height: 234px;
	background: url('/assets/images/usage-person@2x.png') no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 20px;
	left: 20px;
}
/* 功能介绍结束 */

/* 服务流程 */
.service-process {
	overflow: hidden;
	text-align: center;
	background: url('/assets/images/service-process-bg@2x.png') no-repeat;
	background-size: contain;
}
.service-process-title {
	margin: 60px 0 30px;
	font-size: 46px;
	font-weight: 600;
	font-family: PingFangSC-Semibold, PingFang SC;
}
.service-process-subtitle {
	font-size: 30px;
	color: #666;
	margin-bottom: 60px;
	font-weight: 600;
	font-family: PingFangSC-Semibold, PingFang SC;
}
.service-process-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.process-item {
	width: 56%;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}
.process-item-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.process-item:last-of-type .process-item-img-con {
	width: auto;
	height: 400px;
}
.process-index {
	width: 46px;
	height: 46px;
	line-height: 46px;
	border-radius: 46px;
	background: #2AE8B5;
	margin: 40% auto 10px;
	color: #fff;
}
.process-desc-title {
	font-size: 30px;
	line-height: 42px;
	font-weight: 600;
	margin-bottom: 20px;
}
.process-desc-content {
	max-width: 300px;
	color: #555;
	line-height: 25px;
	font-weight: 600;
}
/* 服务流程结束 */
/* 底部下载 */
.bottom-download {
	background: url('/assets/images/download-bg@2x.png') no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 1300px;
}
.bottom-download-content {
	position: absolute;
	top: 450px;
	left: 12%;
}
.bottom-download-title {
	color: #fff;
	font-size: 50px;
	line-height: 70px;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	font-family: Arial Black;
}
/* 心 */
.content-heart-con {
	display: inline-block;
	vertical-align: bottom;
	width: 50px;
	height: 50px;
	background: #FA3A3B;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
	border-radius: 100px 100px 100px 0px;
	position: relative;
}
.content-heart {
	position: relative;
	top: 14px;
	left: 10px;
}
.content-heart::before,
.content-heart::after {
	width: 15px;
	height: 24px;
	content: '';
	position: absolute;
	left: 15px;
	background: #fff;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}
.content-heart::after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
/* 心 END */
.bottom-download-tip-con {
	width: 426px;
	box-sizing: border-box;
	padding: 14px 20px 14px;
	background: #2363FF;
	border-radius: 0px 100px 100px 0px;
	border: 1px solid #979797;
	color: #fff;
	font-size: 20px;
	line-height: 37px;
	font-family: PingFangSC-Semibold, PingFang SC;
	margin: 30px 0 40px;
}
.bottom-download-tip {
	display: inline;
}
.bottom-toggle-icon {
	display: inline-block;
	width: 76px;
	height: 40px;
	background: #FFDC30;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	position: relative;
	padding-left: 10px;
	box-sizing: border-box;
}
.toggle-circle-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	background: #FFFFFF;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	position: absolute;
	right: 4px;
	top: 4px;
}
/* 下载 */
.bottom-download-box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
/* 版权信息 */
.bottom-copyright {
	width: 100%;
	text-align: center;
	font-family: PingFangSC-Regular, PingFang SC;
	position: absolute;
	bottom: 20px;
	z-index: 4;
}

/* 侧边栏按钮 */
.hover-button {
	width: 56px;
	height: 56px;
	background: #2AE8B5;
	text-align: center;
	position: fixed;
	top: 60px;
	right: 180px;
	cursor: pointer;
	z-index: 10;
}
.hover-button .button {
	color: #fff;
	font-size: 26px;
	line-height: 56px;
}

/* 侧边栏 */
.side-bar {
	flex: 1;
	width: 375px;
	background: lightcoral;
	z-index: 12;
}
.side-bar-con {
	position: fixed;
	width: 375px;
	height: 100vh;
}
.side-bar-in {
	animation: side-bar-in 0.7s ease-in-out forwards;
}
.side-bar-out {
	animation: side-bar-out 0.7s ease-in-out forwards;
}
@keyframes side-bar-in {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -375px;
	}
}
@keyframes side-bar-out {
	0% {
		margin-left: -375px;
	}
	100% {
		margin-left: 0;
	}
}

/* 宽度小于1330 */
@media screen and (max-width: 1330px) {
	/* 分类介绍 */
	.classify-item {
		width: 220px;
	}
	/* 功能介绍 */
	.phone-img {
		display: none !important;
	}
	.coins-img {
		width: 280px;
	}
	.line-up-img {
		width: 90%;
	}
	.user-info-img {
		width: 90%;
	}
	.usage-content {
		grid-template-columns: 38% 42%;
		grid-template-rows: 250px 850px 200px;
	}
	/* 功能总结 */
	.features-item {
		width: 220px;
		height: 220px;
	}
	/* 侧边栏按钮 */
	.hover-button {
		right: 40px;
	}
	.process-item-img-con {
		width: 400px;
	}
}
/* 宽度小于1080 */
@media screen and (max-width: 1080px) {
	/* 介绍 */
	.text-title {
		font-size: 44px;
    line-height: 55px;
	}
	.text-description {
    font-size: 26px;
	}
	.qr-code-desc {
		width: 100%;
	}
	/* what you can do */
	.classify-content {
		flex-wrap: wrap;
		justify-content: space-between;
		width: 60%;
	}
	.classify-item {
		width: 300px;
		margin-bottom: 26px;
	}
	/* 功能介绍 */
	.usage-content {
		grid-template-columns: 38% 42%;
		grid-template-rows: 250px 750px 200px;
	}
	.coins-img {
    width: 280px;
	}
	.bd-img,
	.detail-img {
    height: 240px;
	}
	.line-up-img {
		width: 86%;
	}
	.user-info-img {
		width: 90%;
	}
	/* 功能总结 */
	.features-item {
		width: 200px;
		height: 220px;
	}
	/* 服务流程 */
	.process-item-img-con {
		width: 360px;
	}
}
/* 宽度小于1000 */
@media screen and (max-width: 1000px) {
	.classify-content {
		width: 66%;
		flex-wrap: wrap;
	}
	/* 功能总结 */
	.usage-summary-features {
		width: 50%;
		flex-wrap: wrap;
	}
	.features-item {
		margin-bottom: 20px;
	}
	.features-item:last-of-type::after {
		display: none;
	}
	/* 功能介绍 */
	.usage-content {
		grid-template-columns: 48% 42%;
		grid-template-rows: 250px 750px 200px;
	}
	.line-up-img {
		width: 100%;
	}
	.user-info-img {
		width: 100%;
	}
	.agent-img {
		width: 500px;
	}
	.comment-img {
		width: 690px;
	}
	/* 服务流程 */
	.process-item-img-con {
		width: 300px;
	}
}
/* 宽度小于910 */
@media screen and (max-width: 910px) {
	/* 头部 */
	.introduce-text {
		width: 90%;
	}
	.download-outside {
		margin-bottom: 10px;
	}
	/* What can you do */
	.classify-content {
		flex-direction: column;
	}
	.classify-item {
		width: 100%;
	}
	/* 功能介绍 */
	.usage-title {
		font-size: 40px;
		line-height: 50px;
	}
	.usage-content {
		grid-template-columns: 44% 42%;
		grid-template-rows: 219px 706px 200px;
	}
	.coins-img {
		width: 240px;
	}
	.usage-con-p2 {
		padding-top: 46px;
	}
	.comment-img {
		width: 600px;
	}
	/* 功能总结 */
	.usage-summary-features {
		width: 60%;
	}
	.usage-summary-title {
		font-size: 36px;
		margin-bottom: 20px;
	}
	.usage-summary-subtitle {
		font-size: 25px;
	}
	.process-item-img-con {
		height: 280px;
	}
	.process-index {
		margin-top: 10%;
	}
	.service-process-title {
		font-size: 36px;
	}
	.process-desc-title {
		font-size: 22px;
	}
}
/* 宽度小于768 */
@media screen and (max-width: 768px) {
	.usage-content {
		grid-template-columns: 44% 52%;
	}
}
/* 宽度小于480 */
@media screen and (max-width: 480px) {
	.hover-button {
		width: 36px;
		height: 36px;
		right: 10px;
	}
	.hover-button .button {
		font-size: 20px;
		line-height: 36px;
	}
	/* 头部 */
	.header-inner {
		height: 70vh;
	}
	.header-logo-img {
		width: 25%;
	}
	.header-title {
		font-size: 36px;
	}
	.header-description{
		font-size: 30px;
	}
	/* 介绍 */
	.text-title {
		font-size: 30px;
		line-height: 34px;
	}
	.text-description {
		font-size: 20px;
		line-height: 26px;
		margin-top: 20px;
	}
	.introduce-hand {
		display: none;
	}
	.introduce-qr-code {
		margin-top: 40px;
	}
	.qr-code-desc {
		font-size: 14px;
	}
	/* what can you do */
	.classify-title {
		font-size: 32px;
	}
	.classify-content {
		width: 90%;
	}
	/* 功能介绍 */
	.usage-content {
		display: flex;
		flex-direction: column;
	}
	.usage-con-p2 {
		padding-top: 16px;
	}
	.line-up-img {
		margin-bottom: 20px;
	}
	.usage-con-p3 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 620px;
	}
	.agent-img {
		width: 100%;
	}
	.comment-img {
		width: 100%;
	}
	.usage-center-bar,
	.usage-center-content {
		height: 40px;
	}
	.usage-icon {
		line-height: 40px;
		font-size: 16px;
	}
	/* 功能总结 */
	.usage-summary {
		margin-top: 46px;
	}
	.usage-summary-title {
		font-size: 28px;
	}
	.usage-summary-subtitle {
		font-size: 22px;
		line-height: 24px;
	}
	.usage-summary-features {
		width: 100%;
		justify-content: space-around;
	}
	.features-item {
		width: 165px;
		height: 165px;
	}
	.features-item-icon {
		width: 66px;
  	height: 74px;
		margin: 7px auto 7px;
	}
	.feature-icon-inner {
		line-height: 74px;
		font-size: 26px;
	}
	.features-item-number {
		font-size: 30px;
	}
	.features-item-desc {
		font-size: 16px;
	}
	.usage-summary::after {
		width: 195px;
  	height: 140px;
	}
	/* 服务流程 */
	.service-process-title {
		font-size: 26px;
	}
	.service-process-subtitle {
		font-size: 18px;
	}
	.service-process-list {
		/* align-items: flex-start; */
		align-items: center;
	}
	.process-item {
		width: 96vw;
	}
	.process-item-img-con {
		width: 180px;
		height: auto;
		padding-top: 40px;
		box-sizing: border-box;
	}
	.process-item:last-of-type .process-item-img-con {
		width: 180px;
		height: 300px;
	}
	.process-desc-title {
		font-size: 18px;
	}
	.process-desc-content {
		font-size: 14px;
	}
	.process-desc {
		width: 200px;
	}
	/* bottom download */
	.bottom-download {
		min-height: 100vh;
	}
	.bottom-download-content {
		transform: scale(0.6, 0.6) !important;
		left: 0;
		top: 100px;
	}
	.bottom-copyright {
		font-size: 12px;
	}
}